src/Bauble/Icons.xsd

<?xml version="1.0" encoding="utf-8"?>
<xs:schema attributeFormDefault="unqualified" elementFormDefault="qualified" xmlns:xs="http://www.w3.org/2001/XMLSchema">
  <xs:element name="Icons">
    <xs:complexType>
      <xs:sequence>
        <xs:element maxOccurs="unbounded" name="Icon">
          <xs:complexType>
            <xs:sequence>
              <xs:element name="Image" type="xs:string" />
              <xs:element name="Text" type="xs:string" />
              <xs:element name="Executable" type="xs:string" />
              <xs:element name="WorkingDirectory" type="xs:string" />
              <xs:element name="Arguments" />
            </xs:sequence>
            <xs:attribute name="type" type="xs:string" use="required" />
          </xs:complexType>
        </xs:element>
      </xs:sequence>
    </xs:complexType>
  </xs:element>
</xs:schema>